/* See https://developers.google.com/cast/docs/styled_receiver */

.background {
  background: #003C7A url('https://fraigo.github.io/ldsplayer-skin/background.png') center no-repeat ;
}

.logo {
  background-image: url('https://fraigo.github.io/ldsplayer-skin/logo.png');
}

.progressBar {
  background-color: rgb(167,205,234);
}

.splash {
  background-image: url(splash.png);
}

.watermark {
  background-image: url('https://fraigo.github.io/ldsplayer-skin/watermark.png');
  background-size: 57px 57px;
}

.audioPlaybackBackgroundScrim{
  background: #003C7A;
}

.player[state='playing'] .controls{
  background-image: url('https://fraigo.github.io/ldsplayer-skin/logo.png');
  background-repeat: no-repeat;
  background-size: 50% 50%;
  background-position: center;
}

